@using HrManage.Models
@{
    ViewBag.Title = "发送邮件";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #tb_email tbody tr:hover {
        background-color: antiquewhite;
    }
</style>

@Scripts.Render("~/Script/Home/Index")


<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-heading">基础信息</div>
        <div class="panel-body">
            <div style="line-height:30px;align-content:center">
                <label class="control-label col-sm-1" for="txt_sender">发件人</label>

                <select id="txt_sender" class="col-sm-1" style="border-radius:4px;display:block;height:34px">

                    @foreach (var senderAddrInfo in (ViewBag.senderAddrInfoList as List<SenderAddrInfo>))
                    {
                        <option>@senderAddrInfo.SenderDisplayName</option>
                    }
                </select>
                <select id="txt_sender_truely" class="col-sm-2 dropdown-toggle" style="border-radius:4px;display:block;height:34px">
                    @foreach (var senderAddrInfo in (ViewBag.senderAddrInfoList as List<SenderAddrInfo>))
                    {
                        <option>@senderAddrInfo.SenderAddr</option>
                    }
                </select>
            </div>
            <div class="col-sm-2"></div>
            <div style="line-height:30px;align-content:center">
                <label class="control-label col-sm-1" for="txt_subuject_keyword">主题关键字</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="txt_subuject_keyword" value="" placeholder="例如工资条">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <form action="'@Url.Action("LoadExcelFile")" method="post" id="fileUpload">
            <div style="height:30px;width:500px;margin:0 auto;">
                <input type="file" id="excelFile" name="excelFile" value="" style="height:30px;" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                <span style="color:#f60">(选择excel文件,员工邮箱地址一定要放在第一列)</span>
            </div>
        </form>
    </div>

    <div class="panel panel-default">
        <div class="col-sm-1"><button id="sendAll">一键全部发送</button></div>

        <div class="col-sm-1">
            <button id="sendSelected">发送勾选项</button>
        </div>
        <div class="col-sm-8"></div>
    </div>
    <table id="tb_email" data-reorderable-columns="true"
           class="table table-hover table-striped" border="1" align="left" cellpadding="3" cellspacing="0"></table>

    <script>
    $(function () {
        $("#myModal").modal('hide');
        $("#excelFile").change(function (e) {
            if ($(this).val() != "") {
                var form = new FormData(document.getElementById("fileUpload"));

                $.ajax({
                    url: '@Url.Action("LoadExcelFile")',
                    type: "post",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (strData) {
                        loadDataToTable(strData);
                    }
                });
            }
        });

        function loadDataToTable(strData)
        {
            data = JSON.parse(strData);
            //data = [
            //         { "姓名": "jack", "年龄": "22", "籍贯": "四川成都", "岗位": "java开发" },
            //         { "姓名": "tom", "年龄": "30", "籍贯": "河南周口", "岗位": ".net开发" },
            //         { "姓名": "小张", "年龄": "20", "籍贯": "四川达州", "岗位": ".net实习生" }
            //       ];

            var ths = data[0];

            var thHtml = '<thead><tr>' +
                ' <th class="bs-checkbox" data-custom="actionCol">' +
                '     <div class="th-inner ">' +
                '         <input name="btnSelectAll" id="btnSelectAll" type="checkbox" >' +
                '     </div><div class="fht-cell"></div>' +
                ' </th>';
            var bIsFirst = true;
            $.each(ths, function (i, val) {
                if (bIsFirst) {
                    thHtml += '<th  data-custom="actionCol">' +
                        '         <div class="th-inner">' + i + '</div><div class="fht-cell"></div>' +
                        '     </th>';
                }
                else {
                    thHtml += '<th>' +
                        '         <div class="th-inner">' + i + '</div><div class="fht-cell"></div>' +
                        '     </th>';
                }
                bIsFirst = false;

            });
            thHtml += '<th data-custom="actionCol">操作</th></tr></thead>';

            //拼接body
            var tdHtml = '<tbody>';

            $.each(data, function (i, val) {

                tdHtml+='<tr>' +
                    ' <td class="bs-checkbox" data-custom="actionCol">' +
                    '     <div class="th-inner ">' +
                    '         <input name="btnSelect" type="checkbox">'+ (i+1) +
                    '     </div><div class="fht-cell"></div>' +
                    ' </td>';

                var bIsFirst = true;
                $.each(val, function (ii, valObj) {
                    if (bIsFirst) {
                        tdHtml += '<td  data-custom="actionCol">' +
                            '<div class="td-inner emailVal" >' + valObj + '</div><div class="fht-cell"></div>' +
                            '</td>';

                    }
                    else {
                        tdHtml += '<td>' +
                            '         <div class="td-inner">' + valObj + '</div><div class="fht-cell"></div>' +
                            '     </td>';
                    }
                    bIsFirst = false;

                });

                tdHtml += '<td data-custom="actionCol"><a href="javascript:void(0);" onclick="sendSingle(this)">发送</a></td></tr>';
            });
            tdHtml += '</tbody>';

            $("#tb_email").html((thHtml + tdHtml).ResetBlank());


            //全选
            $("#btnSelectAll").on("change", function () {
                $("#tb_email input[name='btnSelect']").click();
            });

            //列表里选择
            $('input[name="btnSelect"]').on('change', function () {
                if ($(this).is(':checked')) {
                    $(this).parents("tr").addClass("tr_checked");
                }
                else {
                    $(this).parents("tr").removeClass("tr_checked");
                }
            });

            $(".bs-checkbox").on("click", function () {
                $(this).children().find('input[name="btnSelect"]').click();
            });

            $('input[type="checkbox"]').on("click", function () {
                $(this).children().find('input[name="btnSelect"]').click();
                event.stopPropagation();
            });
        }

        $("#sendAll").click(function () {
            var $tr = $("#tb_email").find("tbody tr");
            if ($tr.length == 0) {
                alert("请先导入excel文件");
                return false;
            }
            var toAddrAndBodyArr = handleMultiTr($tr)
            reqServerToSendMail(toAddrAndBodyArr);
        });

        $("#sendSelected").click(function () {
            var $tr = $("#tb_email").find('tr.tr_checked');
            if ($tr.length == 0) {
                alert("请先勾选要发送的人");
                return false;
            }
            var toAddrAndBodyArr = handleMultiTr($tr)
            reqServerToSendMail(toAddrAndBodyArr);
        });

        function handleMultiTr(jqObj) {
            var joinTr, joinToAddr;
            joinTr = joinToAddr ="";
            for (var i = 0; i < jqObj.length;i++) {
                joinTr += $(jqObj[i]).prop("outerHTML") + "$$$";
                joinToAddr += $(jqObj[i]).find('.emailVal').text() + "$$$";
            }
            joinTr = joinTr.substr(0, joinTr.length - 3);
            joinToAddr = joinToAddr.substr(0, joinToAddr.length - 3);

            return [joinToAddr, joinTr];
        }

        $("#txt_sender").change(function () {
            $("#txt_sender_truely").get(0).selectedIndex = $(this).get(0).selectedIndex;
        });

        $("#txt_sender_truely").change(function () {
            $("#txt_sender").get(0).selectedIndex = $(this).get(0).selectedIndex;
        });
    });

    function reqServerToSendMail(toAddrAndBodyArr) {

        //显示
        $("#myModalLabel").text("");
        $("#myModalBody").text("");

        $("#myModal").modal('show');

        $("#myModalLabel").text("发送邮件");
        $("#myModalBody").text("发送中");
        
        var data = {
            senderAddr: $("#txt_sender_truely").val(),
            senderDisplayName: $("#txt_sender").val(),
            subuject: $("#txt_subuject_keyword").val(),
            colNames: $("#tb_email").children("thead").html(),
            toAddr: toAddrAndBodyArr[0],
            emailBody: toAddrAndBodyArr[1],
        };

        $.ajax({
            url: '/Home/SendEmail',
            type: "post",
            dataType:"json",
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (strData) {
                //隐藏
                //$("#myModal").modal('hide');
                //alert(strData);
                var objData = JSON.parse(strData)
                console.log("strData",strData);
                console.log("objData",objData);

                if (objData.Result == 0) {
                    //alert("发送成功");
                    
                    $("#myModalBody").text("发送成功");
                }
                else {
                    //alert("发送失败,原因" + objData.ErrorDesc);                    
                    $("#myModalBody").text("发送失败,原因" + objData.ErrorDesc);
                }

            }
        });
    }

    function sendSingle(obj) {
        reqServerToSendMail([$(obj).parents('tr').find('.emailVal').text(), $(obj).parents("tr").prop("outerHTML")]);
    }

    //对字符串扩展
    String.prototype.ResetBlank = function () {
        var regEx = /\s+/g;
        return this.replace(regEx, ' ');
    };
    </script>
